@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
}
.wrapper {
	width: 300px;
	padding: 23px;
	background-color: #EEEFF3;
	box-shadow: -3px -3px 7px #fff, 3px 3px 3px #ceced1;
	border-radius: 6px;
}
.back_menu_wrap {
	display: flex;
	justify-content: space-between;
	margin-bottom: 11px;
}
.back_menu_wrap a {
    color: black;
    display: inline-block;
    width: 30px;
    height: 30px;
    box-shadow: -3px -3px 7px transparent, 3px 3px 3px transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    transition: all ease-in-out 0.3s;
}
.back_menu_wrap a:hover {

    box-shadow: -3px -3px 7px #fff, 3px 3px 3px #ceced1;
    

}


.profile_pic_wrap {

    display: flex;
    justify-content: center;
    
}
.back_menu_wrap a:hover {

}
.profile_bg {
    box-shadow: -3px -3px 7px #fff, 3px 3px 3px #ceced1;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_bg img {
	object-fit: cover;
	width: 80%;
	height: 80%;
	border-radius: 50%;
}

.name {
	text-align: center;
	margin: 15px 0;
}
.profesion {
  text-align: center;

  font-size: 1rem;
}

.profile_pic_wrap {
}

.social_links {
  margin: 11px 0;
  width: 100%;
}

.social_links ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  /* align-items: center; */

  gap: 10px;
}
.fa-facebook-f {
  color: #4064ac;
}
.fa-twitter {
  color: #1c96e8;
}
.fa-instagram {
  color: #e4405f;
}
.fa-youtube {
  color: #cd201f;
}

.social_links ul li a {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  box-shadow: -3px -3px 7px #fff, 3px 3px 3px #ceced1;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: all ease-in-out 0.3s;
}
.social_links ul li a:hover {
    box-shadow: -3px 8px 7px #fff, -4px -3px 9px #ceced1;
}
.buttons {
  margin-bottom: 11px;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.buttons button {
    padding: 12px 16px;
}
.reactions {
  display: flex;
  justify-content: space-between;
}
.buttons .btn {
	border: none;
	box-shadow: -3px -3px 7px #fff, 3px 3px 3px #ceced1;
	border-radius: 5px;
	font-size: 0.9rem;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
.buttons .btn:hover {
    box-shadow: -3px 8px 7px #fff, -4px -3px 9px #ceced1;
    background-color: transparent;
}
